<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section th:fragment="section">
    <!DOCTYPE html>
    <html lang="vi" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Báo cáo đặt phòng</title>
    </head>
    <body>
    <h2>Báo cáo đặt phòng</h2>

    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>

    <table border="1">
        <thead>
        <tr>
            <th>ID Phòng</th>
            <th>Số lượt đặt</th>
            <th>Phần trăm</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.roomId}"></td>
            <td th:text="${#numbers.formatDecimal(${orders + report.roomId}, 0)}"></td>
            <td th:text="${#numbers.formatDecimal(${percentage + report.roomId}, 2)} + '%'"></td>
        </tr>
        </tbody>
    </table>
    </body>
    </html>

</section>
</body>
</html>