<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://localhost:35729/livereload.js"></script>


    <link th:href="@{/css/style1.css}" rel="stylesheet" type="text/css">
</head>
<body>
<section>
    <!-- Start Slider  -->

<!--    <div id="carouselExample" class="carousel slide">-->
<!--        <div class="carousel-inner">-->
<!--            <div class="carousel-item active">-->
<!--                <img src="img/HinhAnh/Ecommerce Spring Boot/img1.jpg" class="d-block w-100" alt="..."-->
<!--                     height="350px">-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--                <img src="img/HinhAnh/Ecommerce Spring Boot/img2.jpg" class="d-block w-100" alt="..."-->
<!--                     height="350px">-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--                <img src="img/HinhAnh/Ecommerce Spring Boot/img3.jpg" class="d-block w-100" alt="..."-->
<!--                     height="350px">-->
<!--            </div>-->
<!--            <div class="carousel-item">-->
<!--                <img src="img/HinhAnh/Ecommerce Spring Boot/img4.jpg" class="d-block w-100" alt="..."-->
<!--                     height="350px">-->
<!--            </div>-->
<!--        </div>-->
<!--        <button class="carousel-control-prev" type="button"-->
<!--                data-bs-target="#carouselExample" data-bs-slide="prev">-->
<!--            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--            <span class="visually-hidden">Previous</span>-->
<!--        </button>-->
<!--        <button class="carousel-control-next" type="button"-->
<!--                data-bs-target="#carouselExample" data-bs-slide="next">-->
<!--            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--            <span class="visually-hidden">Next</span>-->
<!--        </button>-->
<!--    </div>-->



<!--    <div class="col-md-12">-->
<!--        <video autoplay muted loop playsinline class="w-100" style="height: auto;">-->
<!--            <source th:src="@{/img/HinhAnh/Ecommerce Spring Boot/video/coverr-hotel-room-tour-9612-1080p.mp4}" type="video/mp4">-->
<!--            Trình duyệt của bạn không hỗ trợ video.-->
<!--        </video>-->
<!--    </div>-->


    <div class="col-md-12">
    <div class="full-screen-video position-relative ">
        <video autoplay muted loop playsinline class="w-100" style=" height: auto;">
            <source th:src="@{/img/HinhAnh/Ecommerce Spring Boot/video/coverr-hotel-room-tour-9612-1080p.mp4}" type="video/mp4">
            Trình duyệt của bạn không hỗ trợ video.
        </video>
<!--        </video>-->
        <div class="text-slider position-absolute text-center">
            <h2 class="heading-slider">Best Hotel</h2>
            <h4>
                Khám phá những khách sạn tuyệt vời trên khắp thế giới
            </h4>
            <a class="morebanner-btn btn btn-primary mt-3" href="#category">Xem thêm</a>
        </div>
    </div>
    </div>

    <!-- End Slider  -->

    <!--< Start Category Module -->
    <div class="container  " id="category">
        <div class="row">
            <p class="text-center fs-4">Category</p>
            <div class="col-md-2" th:each="c:${category}">
                <div
                        class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
                    <div class="card-body text-center btn-primary custom-body">
                        <img class="custom-pic mb-1 " th:src="@{'img/HinhAnh/Ecommerce Spring Boot/category_img/'+${c.imageName}}" width="65%" height="90px"><br>
                        <a th:href="@{'/rooms?category='+${c.name}}" class=" btn btn-primary ">[[${c.name}]]</a>
                    </div>
                </div>
            </div>
<!--        <div class="row justify-content-center">-->
<!--            <p class="text-center fs-4">Category</p>-->

<!--            &lt;!&ndash; Category 1 &ndash;&gt;-->
<!--            <div class="col-md-2">-->
<!--                <div class="card shadow-sm  mb-5 bg-body-tertiary rounded-rect">-->
<!--                    <div class="card-body text-center">-->
<!--                        <img  src="img/HinhAnh/Ecommerce Spring Boot/category_img/beach.jpeg" width="100%" height="90px">-->
<!--                        <p>Beach room</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            &lt;!&ndash; Category 2 &ndash;&gt;-->
<!--            <div class="col-md-2">-->
<!--                <div class="card shadow-sm  mb-5 bg-body-tertiary rounded-rect">-->
<!--                    <div class="card-body text-center">-->
<!--                        <img src="img/HinhAnh/Ecommerce Spring Boot/category_img/City.jpeg" width="100%" height="90px">-->
<!--                        <p>City room</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            &lt;!&ndash; Category 3 &ndash;&gt;-->
<!--            <div class="col-md-2">-->
<!--                <div class="card shadow-sm  mb-5 bg-body-tertiary rounded-rect">-->
<!--                    <div class="card-body text-center">-->
<!--                        <img src="img/HinhAnh/Ecommerce Spring Boot/category_img/Party.jpg" width="100%" height="90px">-->
<!--                        <p class="  custom-text" >Party room rom</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            &lt;!&ndash; Category 4 &ndash;&gt;-->
<!--            <div class="col-md-2">-->
<!--                <div class="card shadow-sm  mb-5 bg-body-tertiary rounded-rect">-->
<!--                    <div class="card-body text-center">-->
<!--                        <img src="img/HinhAnh/Ecommerce Spring Boot/category_img/couple.jpeg" width="100%" height="90px">-->
<!--                        <p>Dating room</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            &lt;!&ndash; Category 5 &ndash;&gt;-->
<!--            <div class="col-md-2">-->
<!--                <div class="card shadow-sm mb-5 bg-body-tertiary rounded-rect">-->
<!--                    <div class="card-body text-center">-->
<!--                        <img src="img/HinhAnh/Ecommerce Spring Boot/category_img/natural2.webp" width="100%" height="90px">-->
<!--                        <p>Natural room</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>

    <!-- End Category Module -->


    <!-- Start Trending room Module -->

    <div class="container-fluid bg-light p-3">
        <div class="row">
            <p class="text-center fs-4">Trending 123</p>

            <div class="col-md-3" th:each="p:${rooms}">
                <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body text-center">
                        <img  alt="" th:src="@{'img/HinhAnh/Ecommerce Spring Boot/category_img/'+${p.image}}" class="" width="65%"
                             height="140px">
                        <p class="text-center mt-1 "><a th:href="@{'/room_details/'+${p.id}}" class=" btn btn-primary">[[${p.name}]]</a></p>
                    </div>
                </div>
            </div>


<!--         	<div class="col-md-3">-->
<!--                    <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">-->
<!--                        <div class="card-body text-center">-->
<!--                            <img alt="" src="img/HinhAnh/Ecommerce Spring Boot/trending_img/number1.jpg" class="" width="100%"-->
<!--                                height="140px">-->
<!--                            <p class="text-center">Vinh Phuc</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-md-3">-->
<!--                    <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">-->
<!--                        <div class="card-body text-center">-->
<!--                            <img alt="" src="img/HinhAnh/Ecommerce Spring Boot/trending_img/number2.jpg" class="" width="100%"-->
<!--                                height="140px">-->
<!--                            <p class="text-center">Dam vac</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-md-3">-->
<!--                    <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">-->
<!--                        <div class="card-body text-center">-->
<!--                            <img alt="" src="img/HinhAnh/Ecommerce Spring Boot/trending_img/number3.jpeg" class="" width="100%"-->
<!--                                height="140px">-->
<!--                            <p class="text-center">Da Nang</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            <div class="col-md-3">-->
<!--                <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">-->
<!--                    <div class="card-body text-center">-->
<!--                        <img alt="" src="img/HinhAnh/Ecommerce Spring Boot/trending_img/number4.jpg" class="" width="100%"-->
<!--                             height="140px">-->
<!--                        <p class="text-center">Ha Giang</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col-md-6">-->
<!--                <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">-->
<!--                    <div class="card-body text-center">-->
<!--                        <img alt="" src="img/HinhAnh/Ecommerce Spring Boot/trending_img/number5.webp" class="" width="65%"-->
<!--                             height="200px">-->
<!--                        <p class="text-center">Ha Noi</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->


<!--            <div class="col-md-6">-->
<!--                <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">-->
<!--                    <div class="card-body text-center">-->
<!--                        <img alt="" src="img/HinhAnh/Ecommerce Spring Boot/trending_img/number6.jpg" class="" width="65%"-->
<!--                             height="200px">-->
<!--                        <p class="text-center">Ho Chi Minh </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->


        </div>
    </div>
    </div>
    <!-- End Trending room Module -->
</section>

</body>
</html>